@charset "UTF-8";
/*reset*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");
* {
  margin: 0;
  padding: 0;
}
* ul {
  list-style: none;
}
* .body-index {
  background-color: rgb(244, 244, 237);
}

/* index header */
/* Extend base fuente estilo color */
.caja-consultas .p-domicilio, .caja-consultas .tipo-consulta, .caja-consultas .formulario-caja, .caja-consultas, .main-clientes .logo-caja .h1-caja .h1-clientes, .servicios-caja0 .servicios-mt-mc .hp-caja0, .servicios-caja0 .servicios-mt-mc, .nosotros .xq-nosotros, .nosotros .nos1 .nosotros-txt, .index-main {
  font-family: "Poppins", sans-serif;
  color: rgb(184, 25, 25);
  font-style: oblique;
}

/* Extend flex footer contacto */
.main-clientes .cajon-dicen .caja-dicen .dicen .h2-flex, .caja0-footer .caja1-footer .email, .caja0-footer .caja1-footer .phone, .caja0-footer .caja1-footer .logo-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 5px 0px;
}

/* Extend flex footer P1 y P2 */
.caja-consultas .p-alinear, .main-clientes .cajon-dicen .caja-dicen .dicen, .main-clientes .cajon-dicen, .main-clientes .logo-caja .h1-caja, .caja0-footer .caja-parrafo2 .footer-p2, .caja0-footer .caja-parrafo1, .caja0-footer .caja-serv-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Nosotros CV */
.nosotros .seccion-cv .fer-item, .nosotros .seccion-cv .gra-item {
  margin-right: 5px;
  margin-top: 5px;
  padding: 10px;
}

.nosotros .seccion-cv .fer-item .caja-foto-f, .nosotros .seccion-cv .gra-item .caja-foto-g {
  border-color: rgb(94, 88, 88);
  border-width: 5px;
  border-style: solid;
  background-color: rgb(195, 197, 206);
}

.nosotros .seccion-cv .fer-item .caja-foto-f .foto-cv-f, .nosotros .seccion-cv .gra-item .caja-foto-g .foto-cv-g {
  margin: 5px 5px 5px 5px;
  border-color: rgb(150, 84, 81);
  border-width: 5px;
  border-style: dotted;
  width: 180px;
}

.nosotros .seccion-cv .fer-item .sociales-f .ver-cv-f button, .nosotros .seccion-cv .gra-item .sociales-g .ver-cv-g button {
  background-color: rgb(62, 62, 185);
  color: white;
  border: 3px solid rgb(58, 48, 78);
  width: 50%;
}

.nosotros .seccion-cv .fer-item .sociales-f .twitter-f, .nosotros .seccion-cv .fer-item .sociales-f .linkedin-f, .nosotros .seccion-cv .gra-item .sociales-g .twitter-g, .nosotros .seccion-cv .gra-item .sociales-g .linkedin-g {
  width: 17%;
  margin: 10px;
}

.nosotros .seccion-cv .fer-item:hover, .nosotros .seccion-cv .gra-item:hover {
  transform: scale(1.15);
  transition: all 0.5s;
}

.menu-nav {
  margin: 5px;
  border-color: rgb(94, 88, 88);
  border-width: 3px;
  border-style: solid;
  font-family: "Poppins", sans-serif;
  font-style: oblique;
  font-weight: bold;
  font-size: 25px;
}
.menu-nav .logo-nav {
  color: rgb(184, 25, 25);
}
.menu-nav .logo-nav .ind-logo {
  margin-top: 5px;
  border: rgb(138, 133, 132) solid 3px;
  border-radius: 5px;
}
.menu-nav .celda {
  color: black;
}
.menu-nav .celda:hover {
  background-color: black;
  border: 4px solid grey;
  border-radius: 5px;
  color: white;
  transform: scale(1.03);
  transition: all 0.4s ease-in-out;
}
.menu-nav .celda-b:hover {
  transform: scale(1.1);
  transition: all 0.4s ease-in-out;
  background-color: rgb(202, 230, 223);
  border: 4px solid grey;
  border-radius: 5px;
}

/* footer */
/* Extend base fuente estilo color */
.caja-consultas .p-domicilio, .caja-consultas .tipo-consulta, .caja-consultas .formulario-caja, .caja-consultas, .main-clientes .logo-caja .h1-caja .h1-clientes, .servicios-caja0 .servicios-mt-mc .hp-caja0, .servicios-caja0 .servicios-mt-mc, .nosotros .xq-nosotros, .nosotros .nos1 .nosotros-txt, .index-main {
  font-family: "Poppins", sans-serif;
  color: rgb(184, 25, 25);
  font-style: oblique;
}

/* Extend flex footer contacto */
.main-clientes .cajon-dicen .caja-dicen .dicen .h2-flex, .caja0-footer .caja1-footer .email, .caja0-footer .caja1-footer .phone, .caja0-footer .caja1-footer .logo-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 5px 0px;
}

/* Extend flex footer P1 y P2 */
.caja-consultas .p-alinear, .main-clientes .cajon-dicen .caja-dicen .dicen, .main-clientes .cajon-dicen, .main-clientes .logo-caja .h1-caja, .caja0-footer .caja-parrafo2 .footer-p2, .caja0-footer .caja-parrafo1, .caja0-footer .caja-serv-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Nosotros CV */
.nosotros .seccion-cv .fer-item, .nosotros .seccion-cv .gra-item {
  margin-right: 5px;
  margin-top: 5px;
  padding: 10px;
}

.nosotros .seccion-cv .fer-item .caja-foto-f, .nosotros .seccion-cv .gra-item .caja-foto-g {
  border-color: rgb(94, 88, 88);
  border-width: 5px;
  border-style: solid;
  background-color: rgb(195, 197, 206);
}

.nosotros .seccion-cv .fer-item .caja-foto-f .foto-cv-f, .nosotros .seccion-cv .gra-item .caja-foto-g .foto-cv-g {
  margin: 5px 5px 5px 5px;
  border-color: rgb(150, 84, 81);
  border-width: 5px;
  border-style: dotted;
  width: 180px;
}

.nosotros .seccion-cv .fer-item .sociales-f .ver-cv-f button, .nosotros .seccion-cv .gra-item .sociales-g .ver-cv-g button {
  background-color: rgb(62, 62, 185);
  color: white;
  border: 3px solid rgb(58, 48, 78);
  width: 50%;
}

.nosotros .seccion-cv .fer-item .sociales-f .twitter-f, .nosotros .seccion-cv .fer-item .sociales-f .linkedin-f, .nosotros .seccion-cv .gra-item .sociales-g .twitter-g, .nosotros .seccion-cv .gra-item .sociales-g .linkedin-g {
  width: 17%;
  margin: 10px;
}

.nosotros .seccion-cv .fer-item:hover, .nosotros .seccion-cv .gra-item:hover {
  transform: scale(1.15);
  transition: all 0.5s;
}

.caja0-footer {
  margin: 0px 5px 5px 5px;
  background-color: rgb(228, 183, 189);
  background: linear-gradient(to right, rgb(228, 183, 189), rgb(199, 198, 211));
  border-color: rgb(94, 88, 88);
  border-width: 3px;
  border-style: solid;
  font-family: "Poppins", sans-serif;
  /* caja servicios footer */
  /* footer parrafo 1 */
  /* footer parrafo 2 */
}
.caja0-footer .caja1-footer {
  font-style: oblique;
  font-size: 16px;
  color: black;
  font-weight: bold;
  /* footer logo contacto sociales */
  /* footer redes sociales */
}
.caja0-footer .caja1-footer .logo-footer .logo-footer-p {
  margin: 25px 0 0 5px;
}
.caja0-footer .caja1-footer .logo-footer .img-logo-footer {
  margin: 10px 0px 0px 0px;
  border-color: rgb(138, 133, 132);
  border-width: 5px;
  border-style: solid;
  padding: 0px;
  box-shadow: 5px 8px 8px 5px grey;
  height: 100%;
}
.caja0-footer .caja1-footer .phone .phone-p {
  margin: 10px 0 0 5px;
}
.caja0-footer .caja1-footer .phone .img-phone {
  margin: 10px 0px 0px 0px;
  background-color: beige;
  border: solid grey 3px;
  box-shadow: 5px 8px 8px 5px grey;
  height: 50px;
  padding: 3px;
}
.caja0-footer .caja1-footer .email .email-p {
  margin: 10px 0 0 5px;
  font-size: 13px;
}
.caja0-footer .caja1-footer .email .img-email {
  margin: 10px 0px 5px 0px;
  border-color: rgb(138, 133, 132);
  border-width: 3px;
  border-style: solid;
  object-fit: cover;
  padding: 3px;
  box-shadow: 5px 8px 8px 5px grey;
  height: 50px;
  background-color: rgb(58, 58, 251);
}
.caja0-footer .caja1-footer .caja-sociales {
  margin: 5px 5px 5px 20px;
}
.caja0-footer .caja1-footer .caja-sociales .footer-sociales {
  margin: 5px 5px 5px 10px;
  box-shadow: 5px 8px 8px 5px grey;
  background-color: rgb(182, 203, 241);
  border: solid 3px grey;
  padding: 5px;
  width: 100%;
}
.caja0-footer .caja1-footer .caja-sociales .footer-sociales .sociales-link {
  margin: 0px 20px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.caja0-footer .caja1-footer .caja-sociales .footer-sociales .sociales-link .linkedin-img {
  height: 35px;
}
.caja0-footer .caja1-footer .caja-sociales .footer-sociales .sociales-link .twitter-img {
  height: 40px;
}
.caja0-footer .caja1-footer .caja-sociales .footer-sociales .sociales-link .instagram-img {
  height: 40px;
}
.caja0-footer .caja1-footer .caja-sociales .footer-sociales .sociales-link .youtube-img {
  height: 40px;
}
.caja0-footer .caja-serv-footer {
  margin: 10px 0px 0px 0px;
}
.caja0-footer .caja-serv-footer .footer-serv-lista {
  margin: 10px 0px 45px 0px;
  width: 75%;
  box-shadow: 5px 8px 8px 5px grey;
}
.caja0-footer .caja-parrafo1 {
  margin: 10px 0px 0px 0px;
}
.caja0-footer .caja-parrafo1 .parrafo1 {
  box-shadow: 5px 8px 8px 5px grey;
  border: 5px solid grey;
  padding: 5px;
  font-size: 20px;
}
.caja0-footer .caja-parrafo2 {
  font-size: 16px;
}
.caja0-footer .caja-parrafo2 .footer-p2 .parrafo2 {
  border-top: 5px solid rgb(19, 18, 18);
  margin-top: 20px;
}

/* index Main*/
/* Extend base fuente estilo color */
.caja-consultas .p-domicilio, .caja-consultas .tipo-consulta, .caja-consultas .formulario-caja, .caja-consultas, .main-clientes .logo-caja .h1-caja .h1-clientes, .servicios-caja0 .servicios-mt-mc .hp-caja0, .servicios-caja0 .servicios-mt-mc, .nosotros .xq-nosotros, .nosotros .nos1 .nosotros-txt, .index-main {
  font-family: "Poppins", sans-serif;
  color: rgb(184, 25, 25);
  font-style: oblique;
}

/* Extend flex footer contacto */
.main-clientes .cajon-dicen .caja-dicen .dicen .h2-flex, .caja0-footer .caja1-footer .logo-footer, .caja0-footer .caja1-footer .phone, .caja0-footer .caja1-footer .email {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 5px 0px;
}

/* Extend flex footer P1 y P2 */
.caja-consultas .p-alinear, .main-clientes .cajon-dicen .caja-dicen .dicen, .main-clientes .cajon-dicen, .main-clientes .logo-caja .h1-caja, .caja0-footer .caja-serv-footer, .caja0-footer .caja-parrafo1, .caja0-footer .caja-parrafo2 .footer-p2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Nosotros CV */
.nosotros .seccion-cv .fer-item, .nosotros .seccion-cv .gra-item {
  margin-right: 5px;
  margin-top: 5px;
  padding: 10px;
}

.nosotros .seccion-cv .fer-item .caja-foto-f, .nosotros .seccion-cv .gra-item .caja-foto-g {
  border-color: rgb(94, 88, 88);
  border-width: 5px;
  border-style: solid;
  background-color: rgb(195, 197, 206);
}

.nosotros .seccion-cv .fer-item .caja-foto-f .foto-cv-f, .nosotros .seccion-cv .gra-item .caja-foto-g .foto-cv-g {
  margin: 5px 5px 5px 5px;
  border-color: rgb(150, 84, 81);
  border-width: 5px;
  border-style: dotted;
  width: 180px;
}

.nosotros .seccion-cv .fer-item .sociales-f .ver-cv-f button, .nosotros .seccion-cv .gra-item .sociales-g .ver-cv-g button {
  background-color: rgb(62, 62, 185);
  color: white;
  border: 3px solid rgb(58, 48, 78);
  width: 50%;
}

.nosotros .seccion-cv .fer-item .sociales-f .twitter-f, .nosotros .seccion-cv .fer-item .sociales-f .linkedin-f, .nosotros .seccion-cv .gra-item .sociales-g .twitter-g, .nosotros .seccion-cv .gra-item .sociales-g .linkedin-g {
  width: 17%;
  margin: 10px;
}

.nosotros .seccion-cv .fer-item:hover, .nosotros .seccion-cv .gra-item:hover {
  transform: scale(1.15);
  transition: all 0.5s;
}

/*  Index Main primer texto */
.index-main {
  /* Index Main Seccion Servicios */
}
.index-main .convertirse {
  /* index Main segundo texto convertirse*/
}
.index-main .convertirse .creando {
  font-size: 40px;
  margin: 20px 0px 20px 20px;
  padding: 5px;
  font-weight: bold;
}
.index-main .convertirse .caja1 {
  height: 180%;
  margin-bottom: 40px;
}
.index-main .convertirse .caja1 .img-creando {
  border-color: rgb(94, 88, 88);
  border-width: 5px;
  border-style: solid;
  width: 90%;
  margin: 10px 10px 10px 20px;
  height: 50%;
  object-fit: cover;
}
.index-main .convertirse .h2-convertirse {
  font-size: 30px;
  margin: 20px 0px 10px 20px;
  padding: 5px;
  font-weight: bold;
}
.index-main .convertirse .p-convertirse {
  font-size: 20px;
  margin: 0px 20px 0px 20px;
  /* index Main segundo texto link a consulta rápida */
}
.index-main .convertirse .p-convertirse .p-consulta {
  font-weight: bold;
  color: rgb(254, 0, 42);
}
.index-main .index-servicios {
  font-weight: bold;
  margin: 0px 5px 0px 5px;
}
.index-main .index-servicios .serv {
  border-color: rgb(94, 88, 88);
  border-width: 5px;
  border-style: solid;
  object-fit: cover;
  height: 180px;
  width: 100%;
}
.index-main .index-servicios .serv:hover {
  transform: scale(1.25);
  transition: all 0.4s;
}
.index-main .index-servicios .txt-serv {
  font-weight: bold;
  color: rgb(184, 25, 25);
}
.index-main .index-servicios .caja3 {
  margin: 40px 0px 25px 50px;
  width: 90%;
}

/*nosotros.html*/
/* Extend base fuente estilo color */
.caja-consultas .p-domicilio, .caja-consultas .tipo-consulta, .caja-consultas .formulario-caja, .caja-consultas, .main-clientes .logo-caja .h1-caja .h1-clientes, .servicios-caja0 .servicios-mt-mc .hp-caja0, .servicios-caja0 .servicios-mt-mc, .nosotros .xq-nosotros, .nosotros .nos1 .nosotros-txt, .index-main {
  font-family: "Poppins", sans-serif;
  color: rgb(184, 25, 25);
  font-style: oblique;
}

/* Extend flex footer contacto */
.main-clientes .cajon-dicen .caja-dicen .dicen .h2-flex, .caja0-footer .caja1-footer .logo-footer, .caja0-footer .caja1-footer .phone, .caja0-footer .caja1-footer .email {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 5px 0px;
}

/* Extend flex footer P1 y P2 */
.caja-consultas .p-alinear, .main-clientes .cajon-dicen .caja-dicen .dicen, .main-clientes .cajon-dicen, .main-clientes .logo-caja .h1-caja, .caja0-footer .caja-serv-footer, .caja0-footer .caja-parrafo1, .caja0-footer .caja-parrafo2 .footer-p2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Nosotros CV */
.nosotros .seccion-cv .fer-item, .nosotros .seccion-cv .gra-item {
  margin-right: 5px;
  margin-top: 5px;
  padding: 10px;
}

.nosotros .seccion-cv .fer-item .caja-foto-f, .nosotros .seccion-cv .gra-item .caja-foto-g {
  border-color: rgb(94, 88, 88);
  border-width: 5px;
  border-style: solid;
  background-color: rgb(195, 197, 206);
}

.nosotros .seccion-cv .fer-item .caja-foto-f .foto-cv-f, .nosotros .seccion-cv .gra-item .caja-foto-g .foto-cv-g {
  margin: 5px 5px 5px 5px;
  border-color: rgb(150, 84, 81);
  border-width: 5px;
  border-style: dotted;
  width: 180px;
}

.nosotros .seccion-cv .fer-item .sociales-f .ver-cv-f button, .nosotros .seccion-cv .gra-item .sociales-g .ver-cv-g button {
  background-color: rgb(62, 62, 185);
  color: white;
  border: 3px solid rgb(58, 48, 78);
  width: 50%;
}

.nosotros .seccion-cv .fer-item .sociales-f .twitter-f, .nosotros .seccion-cv .fer-item .sociales-f .linkedin-f, .nosotros .seccion-cv .gra-item .sociales-g .twitter-g, .nosotros .seccion-cv .gra-item .sociales-g .linkedin-g {
  width: 17%;
  margin: 10px;
}

.nosotros .seccion-cv .fer-item:hover, .nosotros .seccion-cv .gra-item:hover {
  transform: scale(1.15);
  transition: all 0.5s;
}

.nosotros {
  /* Nosotros 1er texto */
  /* Nosotros seccion CV */
  /* Nosotros Seccion Porque */
}
.nosotros .nos1 .nosotros-txt .h1-nosotros {
  margin: 10px 0px 0px 0px;
  font-size: 40px;
  font-weight: bold;
}
.nosotros .nos1 .nosotros-txt .p-nosotros {
  margin: 10px 0px 0px 0px;
  font-size: 25px;
  line-height: 150%;
  /* Nosotros link en 1er parrafo */
}
.nosotros .nos1 .nosotros-txt .p-nosotros .link-p-nos {
  color: rgb(254, 0, 42);
}
.nosotros .nos1 .img-equipo {
  border-color: rgb(94, 88, 88);
  border-width: 4px;
  border-style: solid;
  width: 90%;
  height: 90%;
  margin: 10px 0px 0px 0px;
}
.nosotros .seccion-cv {
  font-family: "Poppins", sans-serif;
  font-style: oblique;
  font-size: 25px;
  font-weight: bold;
  margin: 0px 5px 20px 5px;
}
.nosotros .seccion-cv .gra-item {
  background-color: rgb(143, 134, 177);
}
.nosotros .seccion-cv .gra-item .sociales-g {
  cursor: pointer;
}
.nosotros .seccion-cv .fer-item {
  background-color: rgb(245, 173, 145);
}
.nosotros .seccion-cv .fer-item .sociales-f {
  cursor: pointer;
}
.nosotros .xq-nosotros {
  font-weight: bold;
  margin-right: 10px;
}
.nosotros .xq-nosotros .xq-contenedor {
  border: solid black 3px;
  margin: 5px 5px 5px 5px;
  background-color: rgb(64, 224, 208);
  background: linear-gradient(to right, rgb(75, 102, 128), rgb(199, 198, 211));
}
.nosotros .xq-nosotros .xq-contenedor .img-xq {
  width: 80%;
  height: 80%;
  border: solid grey 5px;
  margin: 20px 0px 20px 0px;
}
.nosotros .xq-nosotros .xq-contenedor .xq-txt {
  margin: 20px 0px 20px 0px;
}
.nosotros .xq-nosotros .xq-contenedor .xq-txt .xq-h2 {
  font-size: 40px;
}
.nosotros .xq-nosotros .xq-contenedor .xq-txt-p .xq-p {
  font-size: 30px;
  line-height: 150%;
}

/* Servicios.html */
/* Extend base fuente estilo color */
.caja-consultas .p-domicilio, .caja-consultas .tipo-consulta, .caja-consultas .formulario-caja, .caja-consultas, .main-clientes .logo-caja .h1-caja .h1-clientes, .servicios-caja0 .servicios-mt-mc .hp-caja0, .servicios-caja0 .servicios-mt-mc, .index-main, .nosotros .nos1 .nosotros-txt, .nosotros .xq-nosotros {
  font-family: "Poppins", sans-serif;
  color: rgb(184, 25, 25);
  font-style: oblique;
}

/* Extend flex footer contacto */
.main-clientes .cajon-dicen .caja-dicen .dicen .h2-flex, .caja0-footer .caja1-footer .logo-footer, .caja0-footer .caja1-footer .phone, .caja0-footer .caja1-footer .email {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 5px 0px;
}

/* Extend flex footer P1 y P2 */
.caja-consultas .p-alinear, .main-clientes .cajon-dicen .caja-dicen .dicen, .main-clientes .cajon-dicen, .main-clientes .logo-caja .h1-caja, .caja0-footer .caja-serv-footer, .caja0-footer .caja-parrafo1, .caja0-footer .caja-parrafo2 .footer-p2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Nosotros CV */
.nosotros .seccion-cv .gra-item, .nosotros .seccion-cv .fer-item {
  margin-right: 5px;
  margin-top: 5px;
  padding: 10px;
}

.nosotros .seccion-cv .gra-item .caja-foto-g, .nosotros .seccion-cv .fer-item .caja-foto-f {
  border-color: rgb(94, 88, 88);
  border-width: 5px;
  border-style: solid;
  background-color: rgb(195, 197, 206);
}

.nosotros .seccion-cv .gra-item .caja-foto-g .foto-cv-g, .nosotros .seccion-cv .fer-item .caja-foto-f .foto-cv-f {
  margin: 5px 5px 5px 5px;
  border-color: rgb(150, 84, 81);
  border-width: 5px;
  border-style: dotted;
  width: 180px;
}

.nosotros .seccion-cv .gra-item .sociales-g .ver-cv-g button, .nosotros .seccion-cv .fer-item .sociales-f .ver-cv-f button {
  background-color: rgb(62, 62, 185);
  color: white;
  border: 3px solid rgb(58, 48, 78);
  width: 50%;
}

.nosotros .seccion-cv .gra-item .sociales-g .linkedin-g, .nosotros .seccion-cv .gra-item .sociales-g .twitter-g, .nosotros .seccion-cv .fer-item .sociales-f .linkedin-f, .nosotros .seccion-cv .fer-item .sociales-f .twitter-f {
  width: 17%;
  margin: 10px;
}

.nosotros .seccion-cv .gra-item:hover, .nosotros .seccion-cv .fer-item:hover {
  transform: scale(1.15);
  transition: all 0.5s;
}

/*servicios.html main  */
/* servicios.html media training */
.servicios-caja0 .servicios-mt-mc {
  margin: 10px 5px 5px 5px;
  /* servicios.html media crisis */
  /* servicios.html separador */
  /* servicios.html hablar en publico-etc */
}
.servicios-caja0 .servicios-mt-mc .h3-mt {
  font-weight: bold;
  font-size: 40px;
}
.servicios-caja0 .servicios-mt-mc .p-mt {
  font-size: 25px;
}
.servicios-caja0 .servicios-mt-mc .img-mt {
  border-color: rgb(94, 88, 88);
  border-width: 5px 5px 5px 5px;
  border-style: solid;
  width: 97%;
  height: 95%;
  object-fit: cover;
}
.servicios-caja0 .servicios-mt-mc .h3-mc {
  font-weight: bold;
  font-size: 40px;
}
.servicios-caja0 .servicios-mt-mc .p-mc {
  font-weight: normal;
  font-size: 25px;
}
.servicios-caja0 .servicios-mt-mc .img-mc {
  border-color: rgb(94, 88, 88);
  border-width: 5px;
  border-style: solid;
  width: 97%;
  height: 95%;
  object-fit: cover;
}
.servicios-caja0 .servicios-mt-mc .separador-org {
  border-color: rgb(94, 88, 88);
  border-width: 3px;
  border-style: solid;
  width: 97%;
  height: 150px;
  object-fit: cover;
  margin: 10px 0px 10px 0px;
}
.servicios-caja0 .servicios-mt-mc .hp-caja0 {
  margin: 10px 5px 10px 5px;
}
.servicios-caja0 .servicios-mt-mc .hp-caja0 .h3-hp {
  font-weight: bold;
  font-size: 30px;
}
.servicios-caja0 .servicios-mt-mc .hp-caja0 .h3-hp-bis {
  font-weight: bold;
  font-size: 30px;
}
.servicios-caja0 .servicios-mt-mc .hp-caja0 .p-hp {
  font-weight: normal;
  font-size: 25px;
}
.servicios-caja0 .servicios-mt-mc .hp-caja0 .img-hp {
  border-color: rgb(94, 88, 88);
  border-width: 3px;
  border-style: solid;
  width: 97%;
  height: 97%;
  object-fit: cover;
}
.servicios-caja0 .servicios-mt-mc .hp-caja0 .serv-main {
  height: 80%;
}

/* Clientes */
/* Extend base fuente estilo color */
.caja-consultas .p-domicilio, .caja-consultas .tipo-consulta, .caja-consultas .formulario-caja, .caja-consultas, .main-clientes .logo-caja .h1-caja .h1-clientes, .index-main, .nosotros .nos1 .nosotros-txt, .nosotros .xq-nosotros, .servicios-caja0 .servicios-mt-mc, .servicios-caja0 .servicios-mt-mc .hp-caja0 {
  font-family: "Poppins", sans-serif;
  color: rgb(184, 25, 25);
  font-style: oblique;
}

/* Extend flex footer contacto */
.main-clientes .cajon-dicen .caja-dicen .dicen .h2-flex, .caja0-footer .caja1-footer .logo-footer, .caja0-footer .caja1-footer .phone, .caja0-footer .caja1-footer .email {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 5px 0px;
}

/* Extend flex footer P1 y P2 */
.caja-consultas .p-alinear, .main-clientes .cajon-dicen .caja-dicen .dicen, .main-clientes .cajon-dicen, .main-clientes .logo-caja .h1-caja, .caja0-footer .caja-serv-footer, .caja0-footer .caja-parrafo1, .caja0-footer .caja-parrafo2 .footer-p2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Nosotros CV */
.nosotros .seccion-cv .gra-item, .nosotros .seccion-cv .fer-item {
  margin-right: 5px;
  margin-top: 5px;
  padding: 10px;
}

.nosotros .seccion-cv .gra-item .caja-foto-g, .nosotros .seccion-cv .fer-item .caja-foto-f {
  border-color: rgb(94, 88, 88);
  border-width: 5px;
  border-style: solid;
  background-color: rgb(195, 197, 206);
}

.nosotros .seccion-cv .gra-item .caja-foto-g .foto-cv-g, .nosotros .seccion-cv .fer-item .caja-foto-f .foto-cv-f {
  margin: 5px 5px 5px 5px;
  border-color: rgb(150, 84, 81);
  border-width: 5px;
  border-style: dotted;
  width: 180px;
}

.nosotros .seccion-cv .gra-item .sociales-g .ver-cv-g button, .nosotros .seccion-cv .fer-item .sociales-f .ver-cv-f button {
  background-color: rgb(62, 62, 185);
  color: white;
  border: 3px solid rgb(58, 48, 78);
  width: 50%;
}

.nosotros .seccion-cv .gra-item .sociales-g .linkedin-g, .nosotros .seccion-cv .gra-item .sociales-g .twitter-g, .nosotros .seccion-cv .fer-item .sociales-f .linkedin-f, .nosotros .seccion-cv .fer-item .sociales-f .twitter-f {
  width: 17%;
  margin: 10px;
}

.nosotros .seccion-cv .gra-item:hover, .nosotros .seccion-cv .fer-item:hover {
  transform: scale(1.15);
  transition: all 0.5s;
}

.main-clientes {
  font-style: oblique;
}
.main-clientes .div-img-clientes {
  display: flex;
  justify-content: center;
  height: 300px;
}
.main-clientes .div-img-clientes .img-clientes {
  border: rgb(99, 97, 97) solid 3px;
  border-radius: 5px;
  margin: 5px 0px 5px 0px;
  width: 95%;
  padding: 5px;
  object-fit: cover;
}
.main-clientes .logo-caja {
  margin: 15px 0px 15px 5px;
}
.main-clientes .logo-caja .div2-logo {
  border: 5px rgb(184, 183, 183) solid;
  border-radius: 5px;
  padding: 15px;
  margin: 0px 5px 0px 0px;
}
.main-clientes .logo-caja .div2-logo .flex-logo2 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.main-clientes .logo-caja .div2-logo .flex-logo2 .cliente-img {
  border-radius: 5px;
  box-shadow: 5px 5px 8px 5px rgb(184, 183, 183);
  height: 70px;
  margin: 0px 0px 0px 0px;
}
.main-clientes .logo-caja .h1-caja .h1-clientes {
  font-weight: bold;
  font-size: 40px;
  padding: 20px;
}
.main-clientes .logo-caja .div3-logo {
  border: 5px rgb(184, 183, 183) solid;
  border-radius: 5px;
  padding: 15px;
  margin: 0px 5px 0px 0px;
}
.main-clientes .logo-caja .div3-logo .flex-logo3 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.main-clientes .logo-caja .div3-logo .flex-logo3 .cliente-img {
  border-radius: 5px;
  box-shadow: 5px 5px 8px 5px rgb(184, 183, 183);
  height: 70px;
  margin: 0px 0px 0px 0px;
}
.main-clientes .cajon-dicen {
  margin: 10px 5px 10px 10px;
}
.main-clientes .cajon-dicen .caja-dicen {
  background-image: url("../images/microfono.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  opacity: 0.9;
}
.main-clientes .cajon-dicen .caja-dicen .dicen {
  border-radius: 5px;
}
.main-clientes .cajon-dicen .caja-dicen .dicen .h2-flex .h2-dicen {
  background-color: rgb(17, 17, 19);
  background: linear-gradient(to right, rgb(23, 24, 24), rgb(185, 185, 238));
  color: white;
  border-radius: 10px;
  padding: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  padding: 10px;
  margin: 10px 10px;
}
.main-clientes .cajon-dicen .caja-dicen .dicen .dicen-texto {
  color: white;
  font-family: "Poppins", sans-serif;
  color: rgb(33, 15, 15);
  font-size: 20px;
  font-weight: bold;
}

/* Contacto */
/* Extend base fuente estilo color */
.caja-consultas .p-domicilio, .caja-consultas .tipo-consulta, .caja-consultas .formulario-caja, .caja-consultas, .index-main, .nosotros .nos1 .nosotros-txt, .nosotros .xq-nosotros, .servicios-caja0 .servicios-mt-mc, .servicios-caja0 .servicios-mt-mc .hp-caja0, .main-clientes .logo-caja .h1-caja .h1-clientes {
  font-family: "Poppins", sans-serif;
  color: rgb(184, 25, 25);
  font-style: oblique;
}

/* Extend flex footer contacto */
.caja0-footer .caja1-footer .logo-footer, .caja0-footer .caja1-footer .phone, .caja0-footer .caja1-footer .email, .main-clientes .cajon-dicen .caja-dicen .dicen .h2-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 5px 0px;
}

/* Extend flex footer P1 y P2 */
.caja-consultas .p-alinear, .caja0-footer .caja-serv-footer, .caja0-footer .caja-parrafo1, .caja0-footer .caja-parrafo2 .footer-p2, .main-clientes .logo-caja .h1-caja, .main-clientes .cajon-dicen, .main-clientes .cajon-dicen .caja-dicen .dicen {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Nosotros CV */
.nosotros .seccion-cv .gra-item, .nosotros .seccion-cv .fer-item {
  margin-right: 5px;
  margin-top: 5px;
  padding: 10px;
}

.nosotros .seccion-cv .gra-item .caja-foto-g, .nosotros .seccion-cv .fer-item .caja-foto-f {
  border-color: rgb(94, 88, 88);
  border-width: 5px;
  border-style: solid;
  background-color: rgb(195, 197, 206);
}

.nosotros .seccion-cv .gra-item .caja-foto-g .foto-cv-g, .nosotros .seccion-cv .fer-item .caja-foto-f .foto-cv-f {
  margin: 5px 5px 5px 5px;
  border-color: rgb(150, 84, 81);
  border-width: 5px;
  border-style: dotted;
  width: 180px;
}

.nosotros .seccion-cv .gra-item .sociales-g .ver-cv-g button, .nosotros .seccion-cv .fer-item .sociales-f .ver-cv-f button {
  background-color: rgb(62, 62, 185);
  color: white;
  border: 3px solid rgb(58, 48, 78);
  width: 50%;
}

.nosotros .seccion-cv .gra-item .sociales-g .linkedin-g, .nosotros .seccion-cv .gra-item .sociales-g .twitter-g, .nosotros .seccion-cv .fer-item .sociales-f .linkedin-f, .nosotros .seccion-cv .fer-item .sociales-f .twitter-f {
  width: 17%;
  margin: 10px;
}

.nosotros .seccion-cv .gra-item:hover, .nosotros .seccion-cv .fer-item:hover {
  transform: scale(1.15);
  transition: all 0.5s;
}

.caja-consultas {
  margin: 15px 15px;
}
.caja-consultas .sep-contacto {
  border: rgb(94, 88, 88) 3px solid;
  width: 97%;
  height: 190px;
  object-fit: cover;
}
.caja-consultas .h2-c-rapidas {
  font-size: 40px;
  font-weight: bold;
  margin: 15px 0px 10px 0px;
}
.caja-consultas .p-rap {
  font-size: 25px;
  font-weight: bold;
  margin: 5px 0px 20px 5px;
}
.caja-consultas .formulario-caja {
  border: rgb(94, 88, 88) 3px solid;
  margin: 5px 20px 10px 5px;
}
.caja-consultas .formulario-caja .form-correo {
  font-weight: bold;
  color: black;
  font-size: 20px;
}
.caja-consultas .form-texto {
  font-weight: bold;
  color: black;
  font-size: 20px;
}
.caja-consultas .tipo-consulta {
  font-size: 120%;
  margin: 10px 5px 5px 5px;
  margin-bottom: 20px;
}
.caja-consultas .p-domicilio {
  font-size: 25px;
  color: black;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
