/*reset*/
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

/* index.html */
.body-index {
  background-color: beige;
}
/* index header */
.menu-nav {
  margin: 5px;
  border-color: rgb(94, 88, 88);
  border-width: 3px;
  border-style: solid;
}

.celda {
  font-family: "Poppins", sans-serif;
  font-size: 150%;
  font-style: italic;
  color: black;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
.celda-b {
  font-family: "Poppins", sans-serif;
  font-size: 150%;
  font-style: italic;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.ind-logo {
  margin-top: 5px;
  border: rgb(138, 133, 132) solid 3px;
  border-radius: 5px;
}
.logo-nav {
  color: rgb(184, 25, 25);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: italic;
}

.celda:hover {
  background-color: black;
  border: 4px solid grey;
  border-radius: 5px;
  color: white;
  transform: scale(1.03);
  transition: all 0.4s ease-in-out;
}

.celda-b:hover {
  transform: scale(1.1);
  transition: all 0.4s ease-in-out;
  background-color: rgb(202, 230, 223);
  border: 4px solid grey;
  border-radius: 5px;
}

/* index Main*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

/*  Index Main primer texto */
.creando {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  margin: 20px 0px 20px 20px;
  font-style: oblique;
  color: rgb(184, 25, 25);
  padding: 5px;
  font-weight: bold;
}
/* index Main primera imagen */
.caja1 {
  /* max-height: fit-content; */
  height: 180%;
  margin-bottom: 40px;
}
.img-creando {
  border-color: rgb(94, 88, 88);
  border-width: 5px;
  border-style: solid;
  width: 90%;
  margin: 10px 10px 10px 20px;
  height: 50%;
  object-fit: cover;
}

/* index Main segundo texto convertirse*/

.h2-convertirse {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  margin: 20px 0px 10px 20px;
  font-style: oblique;
  color: rgb(184, 25, 25);
  padding: 5px;
  font-weight: bold;
}

.p-convertirse {
  font-family: "Poppins", sans-serif;
  font-size: 150%;
  font-style: oblique;
  color: rgb(184, 25, 25);

  margin: 0px 20px 0px 20px;
}

/* index Main segundo texto link a consulta rápida */
.p-consulta {
  color: rgb(184, 25, 25);
  font-weight: bold;
}

/* Index Main Seccion Servicios */

.serv {
  border-color: rgb(94, 88, 88);
  border-width: 5px;
  border-style: solid;
  object-fit: cover;
  height: 180px;
}

.txt-serv1 {
  color: rgb(184, 25, 25);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: italic;
  /* position: absolute; */
  /* top: 200px;
  left: 5px; */
}

.img-serv1 {
  margin: 0px 0px 0px 5px;
  width: 95%;
}

.txt-serv2 {
  color: rgb(184, 25, 25);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: italic;
}
.img-serv2 {
  width: 95%;
  object-fit: cover;
}

.txt-serv3 {
  color: rgb(184, 25, 25);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: italic;
}
.img-serv3 {
  width: 95%;
  object-fit: cover;
}

.caja3 {
  margin-top: 20px;
  margin-bottom: 30px;
}
.txt-serv4 {
  color: rgb(184, 25, 25);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: italic;
}
.img-serv4 {
  margin-left: 0px;
  width: 95%;
  object-fit: cover;
}
.txt-serv5 {
  color: rgb(184, 25, 25);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: italic;
}
.img-serv5 {
  margin-left: 0px;
  width: 95%;
  object-fit: cover;
}
/* footer */
.caja0-footer {
  margin-right: 5px;
}
.caja1-footer {
  background-color: rgb(228, 183, 189);
  border-color: rgb(94, 88, 88);
  border-width: 3px;
  border-style: solid;
  margin: 10px 0px 5px 5px;
}
/* footer logo contacto sociales */
.logo-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-size: 16px;

  margin: 0 0 5px 0px;
  color: black;
  font-weight: bold;
  /* text-align: justify; */
}

.logo-footer-p {
  margin: 25px 0 0 5px;
}

.img-logo-footer {
  margin: 10px 0px 0px 0px;
  border-color: rgb(138, 133, 132);
  border-width: 5px;
  border-style: solid;
  /* object-fit: contain; */
  padding: 0px;
  box-shadow: 5px 8px 8px 5px grey;
  height: 100%;
}

.phone {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-size: 16px;

  margin: 0 0 5px 0px;
  color: black;
  font-weight: bold;
}
.phone-p {
  margin: 10px 0 0 5px;
}

.img-phone {
  margin: 10px 0px 0px 0px;

  background-color: whitesmoke;
  border: solid grey 3px;
  box-shadow: 5px 8px 8px 5px grey;
  height: 50px;
}

.email {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-size: 11px;

  margin: 0 0 5px 0px;
  color: black;
  font-weight: bold;
}
.email-p {
  margin: 10px 0 0 5px;
}
.img-email {
  margin: 10px 0px 5px 0px;
  border-color: rgb(138, 133, 132);
  border-width: 3px;
  border-style: solid;
  object-fit: cover;
  padding: 3px;
  box-shadow: 5px 8px 8px 5px grey;
  height: 50px;
  background-color: rgb(34, 63, 192);
}

/* footer redes sociales */
.caja-sociales {
  margin: 5px 5px 5px 20px;
}

.footer-sociales {
  margin: 5px 5px 5px 10px;
  box-shadow: 5px 8px 8px 5px grey;
  background-color: rgb(182, 203, 241);

  border: solid 3px grey;
  padding: 5px 5px 5px 5px;
  width: 100%;
}

.sociales-link {
  margin: 0px 20px 0px 0px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.linkedin-img {
  height: 35px;
}
.twitter-img {
  height: 40px;
}
.instagram-img {
  height: 40px;
}
.youtube-img {
  height: 40px;
}
.caja-serv-footer {
  margin: 10px 0px 0px 0px;

  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-size: 18px;
  font-weight: bold;

  display: flex;

  justify-content: center;
}

.footer-serv-lista {
  margin: 10px 0px 15px 0px;
  width: 75%;
  box-shadow: 5px 8px 8px 5px grey;
}

.caja-parrafo1 {
  display: flex;
  margin: 10px 0px 0px 0px;

  align-items: center;
}
.parrafo1 {
  box-shadow: 5px 8px 8px 5px grey;
  background-color: rgb(247, 230, 229);
  border: 5px solid grey;
  padding: 3px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-size: 22px;
  font-weight: bold;
}

/* footer parrafo 2 */
.caja-parrafo2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-size: 16px;

  margin: 0 0 0px 0px;
  color: black;
  font-weight: bold;
}
.parrafo2 {
  border-top: 5px solid rgb(19, 18, 18);

  /* width:65; */
  margin-top: 20px;
}
.footer-p2 {
  display: flex;
  justify-content: center;
}

/*nosotros.html*/

.body-nosotros {
  background-color: beige;
}

/* Nosotros 1er texto */
.h1-nosotros {
  font-family: "Poppins", sans-serif;
  font-size: 450%;
  margin: 35px 25px 25px 55px;
  font-style: oblique;
  color: rgb(184, 25, 25);
}

.p-nosotros {
  font-family: "Poppins", sans-serif;
  font-size: 150%;
  margin: 10px 25px 25px 45px;
  font-style: oblique;
  color: rgb(184, 25, 25);
  line-height: 150%;
}
/* Nosotros 1a img */

.img-equipo {
  margin: 10px 25px 25px 75px;
  border-color: rgb(94, 88, 88);
  border-width: 10px;
  border-style: solid;
  width: 650px;
  float: right;
}

/* Nosotros link en 1er parrafo */
.link-p-nos {
  color: rgb(184, 25, 25);
}

/* Nosotros 2a y 2a img separador*/
.separador {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  column-gap: 10px;
  padding: 20px;
  margin-left: 20px;
}
.img-separador {
  border-color: rgb(94, 88, 88);
  border-width: 5px;
  border-style: solid;
  width: 50%;
  max-height: 250px;
}

/* Nosotros seccion CV */

.cv-container {
  display: grid;

  margin: 10px;
  grid-template-rows: 100%;
  grid-template-columns: 50% 50%;
  column-gap: 15px;
}
.gra-item {
  background-color: rgb(143, 134, 177);
  margin: 40px;
}
.gra-item:hover {
  transform: scale(1.15);
  transition: all 0.5s;
}
.fer-item {
  background-color: rgb(245, 173, 145);
  margin: 40px;
}

.fer-item:hover {
  transform: scale(1.15);
  transition: all 0.5s;
}

.curriculum-g {
  margin: 40px 100px 20px 110px;
  padding: 5px;
  border-color: rgb(94, 88, 88);
  border-width: 7px;
  border-style: solid;
  background-color: rgb(195, 197, 206);

  display: grid;

  grid-template-rows: 100%;
  grid-template-columns: 50% 50%;
}

.curriculum-f {
  margin: 40px 100px 20px 110px;
  padding: 5px;
  border-color: rgb(94, 88, 88);
  border-width: 7px;
  border-style: solid;
  background-color: rgb(195, 197, 206);

  display: grid;

  grid-template-rows: 100%;
  grid-template-columns: 50% 50%;
}

.foto-cv-g {
  margin: 5px 5px 5px 5px;
  border-color: rgb(150, 84, 81);
  border-width: 5px;
  border-style: dotted;
  width: 180px;
  grid-column: 1, 1;
  grid-row: 1, 1;
}

.foto-cv-f {
  margin: 5px 5px 5px 5px;
  border-color: rgb(150, 84, 81);
  border-width: 5px;
  border-style: dotted;
  width: 180px;
  grid-column: 1, 1;
  grid-row: 1, 1;
}
.sociales-g {
  grid-column: 2, 1;
  grid-row: 1, 1;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  cursor: pointer;
}
.sociales-f {
  grid-column: 2, 1;
  grid-row: 1, 1;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  cursor: pointer;
}

.ver-cv button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-size: large;
  text-decoration: none;
  background-color: rgb(62, 62, 185);
  color: white;
  border: 3px solid rgb(58, 48, 78);
  width: 100px;
  cursor: pointer;
}
.ver-cv-f button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-size: large;
  text-decoration: none;
  background-color: rgb(62, 62, 185);
  color: white;
  border: 3px solid rgb(58, 48, 78);
  width: 100px;
  cursor: pointer;
}
.sociales-g img {
  width: 40px;
}

.sociales-f img {
  width: 40px;
}

/* Nosotros Seccion Porque */

.xq-h2 {
  font-family: "Poppins", sans-serif;
  font-size: 450%;
  margin: 35px 25px 25px 55px;
  font-style: oblique;
  color: rgb(184, 25, 25);
}

.xq-p {
  font-family: "Poppins", sans-serif;
  font-size: 190%;
  margin: 10px 25px 25px 45px;
  font-style: oblique;
  color: rgb(184, 25, 25);
  line-height: 150%;
  font-weight: bold;
}

.xq-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: solid black 5px;
  margin: 5px 5px 5px 5px;
  background-color: rgb(64, 224, 208);
  background: linear-gradient(to right, rgb(75, 102, 128), rgb(199, 198, 211));
}

.xq-img {
  grid-column: 1, 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.xq-img img {
  width: 80%;
  height: 80%;
  border: solid grey 5px;
}

.xq-txt {
  grid-column: 2, 1;
}

/* Servicios.html */
.body-servicios {
  background-color: beige;
}

/*servicios.html main  */

/* servicios.html media training */
.h3-mt {
  font-family: "Poppins", sans-serif;
  font-size: 350%;
  margin: 10px 5px 5px 5px;
  font-style: italic;
  color: rgb(184, 25, 25);
  font-weight: bold;
}
.p-mt {
  font-family: "Poppins", sans-serif;
  font-size: 150%;
  margin: 10px 5px 5px 5px;
  font-style: italic;
  color: rgb(184, 25, 25);
}

.img-mt {
  border-color: rgb(94, 88, 88);
  border-width: 5px 5px 5px 5px;
  border-style: solid;
  width: 97%;
  height: 95%;
  object-fit: cover;
  margin: 20px 5px 5px 5px;
}

/* servicios.html media crisis */
.h3-mc {
  font-family: "Poppins", sans-serif;
  font-size: 350%;
  margin: 10px 5px 5px 5px;
  font-style: italic;
  color: rgb(184, 25, 25);
  font-weight: bold;
}
.p-mc {
  font-family: "Poppins", sans-serif;
  font-size: 150%;
  margin: 10px 5px 5px 5px;
  font-style: italic;
  color: rgb(184, 25, 25);
}

.img-mc {
  border-color: rgb(94, 88, 88);
  border-width: 5px;
  border-style: solid;
  width: 97%;
  height: 95%;
  object-fit: cover;
  margin: 20px 5px 5px 5px;
}
/* servicios.html separador */

.separador-org {
  border-color: rgb(94, 88, 88);
  border-width: 5px;
  border-style: solid;
  width: 97%;
  height: 150px;
  object-fit: cover;
  margin: 20px 0px 20px 10px;
}
/* servicios.html hablar en publico-etc */

.h3-hp {
  font-family: "Poppins", sans-serif;
  font-size: 260%;
  margin: 5px;
  font-style: italic;
  color: rgb(184, 25, 25);
  font-weight: bold;
}

.h3-hp-bis {
  font-family: "Poppins", sans-serif;
  font-size: 230%;
  margin: 5px;
  font-style: oblique;
  color: rgb(184, 25, 25);
  font-weight: bold;
}
.p-hp {
  font-family: "Poppins", sans-serif;
  font-size: 150%;
  margin: 10px 5px 5px 5px;
  font-style: italic;
  color: rgb(184, 25, 25);
}

.img-hp {
  border-color: rgb(94, 88, 88);
  border-width: 5px;
  border-style: solid;
  width: 97%;
  height: 97%;
  object-fit: cover;
  margin: 10px 5px 5px 5px;
}
.serv-main-contenedor {
  height: 80%;
}

/* Clientes */
.body-clientes {
  background-color: beige;
}

.div1-clientes {
  display: flex;
  justify-content: center;

  height: 400px;
}
.img-clientes {
  border: rgb(99, 97, 97) solid 3px;
  border-radius: 5px;
  margin: 5px 5px 5px 0px;
  width: 97%;
  padding: 5px;
  object-fit: cover;
}
.div2-logo {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  border: 5px rgb(184, 183, 183) solid;
  border-radius: 5px;
  padding: 15px;
}
.h1-clientes {
  font-family: "Poppins", sans-serif;
  font-size: 350%;
  margin: 25px 25px 25px 25px;
  font-style: oblique;
  color: rgb(184, 25, 25);
}

.cliente-img {
  border-radius: 5px;
  box-shadow: 5px 5px 8px 5px rgb(184, 183, 183);
  height: 70px;
}

.div3-logo {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  border: 5px rgb(184, 183, 183) solid;
  border-radius: 5px;
  padding: 20px;
}

.dicen {
  width: 98%;
  height: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/img-nav.jpg");

  background-size: cover;
  background-position: center;
  margin: 10px 5px 10px 15px;
  border-radius: 5px;
  /* border: 15px grey; */
  padding: 15px 0 75px 0;
}
.dicen-texto {
  display: grid;
  grid-template-columns: 1, 1;
  grid-template-rows: 7, 1;

  font-family: "Poppins", sans-serif;
  font-size: 170%;
  font-weight: bold;
  /* margin: 25px 25px 25px 25px; */
  font-style: italic;
}

.h2-dicen {
  grid-row: 1, 1;
  margin: 25px 25px;
  background-color: rgb(17, 17, 19);
  background: linear-gradient(to right, rgb(23, 24, 24), rgb(185, 185, 238));
  color: white;
  max-width: 20%;
  border-radius: 10px;
  padding: 5px;
}
.p-dicen1 {
  grid-row: 2, 1;
  margin: 25px 25px;
  color: rgb(19, 18, 18);
}
.p-dicen2 {
  grid-row: 3, 1;
  margin: 25px 25px;
  color: rgb(19, 18, 18);
}
.p-dicen3 {
  grid-row: 4, 1;
  margin: 25px 25px;
  color: rgb(19, 18, 18);
}
.p-dicen4 {
  grid-row: 5, 1;
  margin: 25px 25px;
  color: rgb(19, 18, 18);
}
.p-dicen5 {
  grid-row: 6, 1;
  margin: 25px 25px;
  color: rgb(19, 18, 18);
}
.p-dicen6 {
  grid-row: 7, 1;
  margin: 25px 25px;
  color: rgb(19, 18, 18);
}

/* Contacto */
.body-contacto {
  background-color: beige;
}

.sep-contacto {
  border-color: rgb(94, 88, 88);
  border-width: 5px;
  border-style: solid;
  width: 100%;
  height: 190px;
  object-fit: cover;
  margin: 20px 0px 20px 0px;
}
.h2-c-rapidas {
  font-family: "Poppins", sans-serif;
  font-size: 230%;
  margin: 5px;
  font-style: oblique;
  color: rgb(184, 25, 25);
  font-weight: bold;
}
.p-c-rapidas {
  font-family: "Poppins", sans-serif;
  font-size: 150%;
  margin: 10px 5px 5px 5px;
  font-style: italic;
  color: rgb(184, 25, 25);
}
.form-correo {
  font-family: "Poppins", sans-serif;
  font-size: 130%;
  margin: 5px;
  font-style: oblique;
  color: rgb(10, 10, 10);
  font-weight: bold;
}
.form-texto {
  font-family: "Poppins", sans-serif;
  font-size: 130%;
  margin: 5px;
  font-style: oblique;
  color: rgb(10, 10, 10);
  font-weight: bold;
}
.ancho-correo {
  width: 70%;
}
.ancho-texto {
  width: 70%;
}
.tipo-consulta {
  font-family: "Poppins", sans-serif;
  font-size: 120%;
  margin: 10px 5px 5px 5px;
  font-style: italic;
  color: rgb(184, 25, 25);
  margin-bottom: 20px;
}
.p-domicilio {
  font-family: "Poppins", sans-serif;
  font-size: 130%;
  margin: 5px;
  font-style: oblique;
  color: rgb(10, 10, 10);
  font-weight: bold;
}
.p-alinear {
  display: flex;
  align-items: center;
}
