$bg-color-general:
rgb(244, 244, 237),
beige,
black,
rgb(202, 230, 223),
rgb(228, 183, 189),
rgb(58, 58, 251),
rgb(182, 203, 241),
rgb(199, 198, 211),
rgb(119, 115, 115);






$fuente-color-general:
rgb(184, 25, 25),
black,
rgb(254, 0, 42),
white,
rgb(33, 15, 15);


$fuente-estilo: 
oblique,
italic;

$fuente-tamano: 
40px,
30px,
20px,
25px,
16px,
13px;

$fuente-peso: 
normal,
bold;
