/* Contacto */

@import "../base/variables";
@import "../base/listas";
@import "../base/extend";

.caja-consultas {
  @extend %poppins-rojo-obl;
  margin: 15px 15px;
  .sep-contacto {
    border: rgb(94, 88, 88) 3px solid;
    width: 97%; 
    height: 190px;
    
    object-fit: cover;
  }
  .h2-c-rapidas {
    font-size: nth($fuente-tamano, 1);
    font-weight: nth($fuente-peso, 2);
    margin: 15px 0px 10px 0px;
  }
  .p-rap {
    font-size: nth($fuente-tamano, 4);
    font-weight: nth($fuente-peso, 2);
    margin: 5px 0px 20px 5px;
  }

  .formulario-caja {
    border: rgb(94, 88, 88) 3px solid;
    margin: 5px 20px 10px 5px;
    @extend %poppins-rojo-obl;

    .form-correo {
      font-weight: nth($fuente-peso, 2);
      color: nth($fuente-color-general, 2);
      font-size: nth($fuente-tamano, 3);
    }
  }

  .form-texto {
    font-weight: nth($fuente-peso, 2);
    color: nth($fuente-color-general, 2);
    font-size: nth($fuente-tamano, 3);
  }
  .tipo-consulta {
    @extend %poppins-rojo-obl;
    font-size: 120%;
    margin: 10px 5px 5px 5px;
    margin-bottom: 20px;
  }
  .p-domicilio {
    @extend %poppins-rojo-obl;
    font-size: nth($fuente-tamano, 4);
    color: nth($fuente-color-general, 2);
    font-weight: nth($fuente-peso, 2);
  }
  .p-alinear {
@extend %flex-clasico;
  }
}
